{% extends "base.html" %}

{% block title %}Analyzing{% endblock %}

{% block content %}

<div class="container text-center mt-5 pt-5">

    <h1 class="text-warning">🤖 SentinelAI</h1>

    <h3 class="mt-4">Analyzing Dataset...</h3>

    <div class="progress mt-5" style="height:30px;">

        <div id="bar"
             class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
             style="width:0%">
            0%
        </div>

    </div>

    <h5 id="status" class="mt-4 text-light">
        Initializing AI...
    </h5>

</div>

<script>

let width = 0;

const bar = document.getElementById("bar");
const status = document.getElementById("status");

const messages = [
    "Initializing AI...",
    "Loading Model...",
    "Reading Dataset...",
    "Analyzing Records...",
    "Generating Results...",
    "Completed!"
];

let i = 0;

let timer = setInterval(function(){

    width += 2;

    bar.style.width = width + "%";
    bar.innerHTML = width + "%";

    if(width==20) status.innerHTML=messages[1];
    if(width==40) status.innerHTML=messages[2];
    if(width==60) status.innerHTML=messages[3];
    if(width==80) status.innerHTML=messages[4];
    if(width==100){

        status.innerHTML=messages[5];

        clearInterval(timer);

        setTimeout(function(){

            window.history.back();

        },800);

    }

},50);

</script>

{% endblock %}